{% extends "blog/base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/auth.css' %}">
<div class="auth-container">
  <h1>Create an account</h1>

  {% if user_form.errors %}
    <ul style="color: red;">
      {% for field in user_form %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in user_form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <p><input type="submit" value="Register"></p>
  </form>
  <div class="bottom-link">
    <p>Already have an account? <a href="{% url 'user_login' %}">Log in</a></p>
  </div>
</div>
{% endblock %}
